fastapi
uvicorn
great_expectations
pandas
numpy
scikit-learn
torch
transformers
datasets
huggingface-hub
pydantic
python-multipart
aiofiles
pytest
pytest-asyncio
python-dotenv
joblib
matplotlib
seaborn
pydantic_settings